*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;, 这个属性可以让元素的宽和高包含padding和border */
    box-sizing: border-box;
    font-family: "Noto Sans SC", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px,100px;
}
.container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/bg.jpg') no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
    height: 100%;
    background: url('./img/bg.jpg') no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}
.field{
    width: 100%;
    /* padding: 0.5rem,1rem; */
    padding-left: 15px;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
input[type="text"],input[type="email"]{
    height: 50px;
   
}
.field:hover{
    background-color: rgba(0,0,0,0.1);
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}
.area{
    min-height: 100px;
}
.btn{
    width: 100%;
    padding: 0.5rem,1rem;
    font-size: 25px;
    background-color: #0a76ea;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}
.btn:hover{
    background-color: #065c9e;
}

/* 
1.媒体查询：
@media screen and (max-width: 880px)：这是一个媒体查询，当屏幕宽度小于或等于880像素时，应用其中的样式。
2.容器样式：
.container：在媒体查询条件下，容器的样式被修改。
grid-template-columns: 1fr;：将容器的列布局设置为单列（1fr表示1个分数单位，即占满整个可用宽度）。
3.左侧部分样式：
.left：在媒体查询条件下，左侧部分的样式被修改。
height: 200px;：将左侧部分的高度设置为200像素。

*/
@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns:  1fr;
    }
    .left{
         height: 200px;
    }
}